<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="crmSuite" preserve-order = "false">
	<listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
  <test name="crmactivities"> 
    <classes>      
      <class name="crmtests.crmacts"/>
      <class name="crmtests.login"/>
      <class name="crmtests.closedriver"/>
      <class name="crmtests.openurl"/>
    </classes>
  </test> <!-- crmTest -->

</suite> <!-- crmSuite -->
